
project/visualstudio/.vs/project/v16/.suo
project/visualstudio/.vs/project/v16/Browse.VC.db
project/visualstudio/.vs/project/v16/Browse.VC.db-shm
project/visualstudio/.vs/project/v16/Browse.VC.db-wal
project/visualstudio/.vs/project/v16/Browse.VC.opendb
project/visualstudio/x64/Debug/project.vcxproj.AssemblyReference.cache
project/visualstudio/x64/Debug/project.log
project/visualstudio/Release/project.log
project/visualstudio/Release/project.Build.CppClean.log
project/visualstudio/Release/project.vcxproj.AssemblyReference.cache
project/visualstudio/project.vcxproj.user
project/visualstudio/project.vcxproj.user
